.vs/
ANC.AccesoDatos/bin/
ANC.Comun/bin/
ANC.Conexion/bin/
ANC.Entidades/bin/
ANC.LogicaNegocio/bin/
ANC.Modelo/bin/
ANC.Antecedentes-web/bin/
ANC.Antecedentes-api/bin/


ANC.AccesoDatos/obj/
ANC.Comun/obj/
ANC.Conexion/obj/
ANC.Entidades/obj/
ANC.LogicaNegocio/obj/
ANC.Modelo/obj/
ANC.Antecedentes-web/obj/
ANC.Antecedentes-api/obj/
