
@{
    ViewData["Title"] = "Error";
}


<section class="error-404-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="content clearfix d-flex align-items-center">
                    <div class="error">
                        <h2>ANC</h2>
                    </div>
                    <div class="error-message">
                        <h3>Oops! Pagina no encontrada!</h3>
                        <p>Lo sentimos, pero parece que no podemos encontrar la página que solicitó. Esto puede deberse a que has escrito la dirección web incorrectamente.</p>
                        <a href="@Url.Action("Index", "Home")" class="btn btn-main ">Ir a Inicio</a>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".content-title").css("display", "none");
            
        });
     
</script>
}